a:link{
    color:aqua;
}
a:visited{
    color:purple;
}

a:hover{
    color:aquamarine;
}
a:active{
    color:red;
}
.firstWord{
    font-weight:bolder;
    font-size: 50px;
    font-style: oblique;
    color:black;
}
.word {
    font-weight:bolder;
    color: black;
    font-size: 25px;
    font-style: oblique;
    text-align: center;
}
content{
    width:1500px;
    margin-left: auto;
    margin-right: auto;
}
.box{
    width:250px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}
@media screen and (max-width:600px){
    content{width:100%;}
}
